*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    z-index: 999;
    position: sticky;
    top: 0;
    backdrop-filter: blur(100px);
}

.nav-container{
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 60px;
    padding-left: 50px;
    height: 56px;
    z-index: 999;
    height: 65px;
    height: 90px;
    background-color: rgba(250, 250, 250, 0.7)
    
}
.nav-container ul{
    display: flex;
    list-style: none;
    gap:10px;
    
   
}
.nav-container ul li{
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0);

}
.nav-container .icons{
    display: flex;
    gap: 8px;
}
.nav-container ul a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.logo-write{
    display: flex;
}
.logo-write h4{
    padding-left: 20px;
    
    font-size: 30px;
}
.logo-write a{
    text-decoration: none;

}
.details{
    width: 606.01px;
    height: 730px;
}
.increment{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.minus,.plus,.num{
    border:none;
    background-color: white;
    font-size: 20px;
    font-weight: 200;
    margin-right: 20px;

}
.num{
    width: 40px; 
}
.plus{
    margin-right: 20px;
}
.minus{
    margin-left: 20px;
}
.increment div{
    border: 1px solid #9f9f9f;
    padding: 20px 0px;
    border-radius: 15px;
    margin-top: 15px;
}
.addtocart{
    height: 64px;
    width: 215px;
    margin-top: 15px;
    border: none;
    border: 1px solid #9f9f9f;
    border-radius: 15px;
    background-color: white;
}
.image-content{
    margin-top: 50px;
    margin-left: 50px;
}
.details{
    margin-right: 50px;
    margin-top: 50px;
}
.details p:nth-child(1){
    font-size: 42px;
    font-weight: 300;
    
}
.details p:nth-child(2){
    font-size: 24px;
    color: #9f9f9f;
    padding-top: 15px;
    padding-bottom: 15px;
}
.star{
    width: 283px;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 15px;
}
.star p{
    font-size: 13px;
    color: #9f9f9f;
}
.details-setting{
    height: 80px;
    width: 424px;
    color: #000;
    font-size: 13px;
    word-spacing: 5px;
    line-height: 20px;
    margin-bottom: 15px;
}
.details-size{
    color: #9f9f9f;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 300;
}
.details-size-button{
    border: none;
    padding: 15px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.color-button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    margin-right: 15px;
}
.desc{
    margin-top: 40px;
}

.desc div{
    display: flex;
    align-items: center;
}
.desc div:nth-child(1) p:nth-child(1){
    padding-right: 45px;
}
.desc div:nth-child(1) p:nth-child(2), 
.desc div:nth-child(2) p:nth-child(2),
.desc div:nth-child(3) p:nth-child(2),
.desc div:nth-child(4) p:nth-child(2){
    padding-right: 20px;
}
.desc div:nth-child(2) p:nth-child(1){
    padding-right: 10px;
}
.desc div:nth-child(3) p:nth-child(1){
    padding-right: 41px;
}
.desc div:nth-child(4) p:nth-child(1){
    padding-right: 34px;
}
.Additional{
    margin-top: 400px;
    text-align: center;
    font-size: 24px;
}
.Additional button{
    border: none;
    background-color: white;
    font-size: 24px;
    color: #9f9f9f;
}
#describe{
    color: black;
}
.Additional button:nth-child(1),
.Additional button:nth-child(2){
    margin-right: 80px;
}
.Description-details{
    max-width: 1026px;
    font-size: 16px;
    color: #9f9f9f;
    margin-top: 80px;
    margin-left: 180px;
    word-spacing: 3px;
}
.Description-details p:nth-child(2){
    padding-top: 30px;
}
.main-image{
    height: 500px;
    width: 423px;
    border-radius: 30px;
    margin-left: 50px;
}
.details-size-button-l{
    background-color: #b88e2f;
    color: white;
}
.icon{
    text-decoration: none;
    color: #000;
}
.search,.person{
    margin-top: 10px;
}
.cart-shopping{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    padding-top: 7px;
    background-color: #f9f1e7;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}
.shopping-cart{
    padding-top: 20px;
}
footer section{
    display: flex;
   
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;

}
footer section section{
    display: grid;
}
footer section section:nth-child(1) div h3{
    font-size: 24px;
    color: black;
    padding-bottom: 60px;
}
footer section section:nth-child(1) p{
    font-size: 16px;
    color: #9f9f9f;
}
footer section section div:nth-child(1){
    font-size: 16px;
    color: #9f9f9f;
}
footer section section div:nth-child(2) ul{
    list-style: none;
    color: black;
    font-size: 16px;
}
footer section section:nth-child(1) p{
    font-size: 16px;
    color: #9f9f9f;
}
.Email{
    border: none;
    font-size: 14px;
    width: 180px;
    border-bottom: 1px solid black;
}
.SUBSCRIBE{
    border-bottom: 1px solid black;

}